@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(-6px);
    animation-timing-function: ease-in-out;
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2.5s infinite;
}

.animate-shine {
  animation: shine 1.5s ease-in-out infinite;
}
